.comments{
    padding: 20px 0;
}

.comments .grid-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding: 1.875rem;

}

.students-comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 3.75rem;
    width: 100%;
    position: sticky;
    top: 9rem;
}

.student-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}


.student{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .625rem;
}


.comments .title2{
    color: var(--color-gray7);
}

.comments .title3{
    color: var(--color-gray6);
}

.comments .text1{
    color: var(--color-gray7);
}

.comments .text2{
    color: var(--color-gray5);
}

.comments .text3{
    color: var(--color-gray4);
}

@media (max-width:768px){
    .comments .grid-box{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        
    }
    .student{
        display: flex;
        flex-direction: column;
    }

    .student > div{
        display: flex;
        text-align: flex-start;
        justify-content: flex-start;
        gap: 1rem;
        align-items: center;
    }
    
    .student-list{
        display: flex;
        order:2
    }
    
    .students-comments{
        background-color: var(--color-brand1);
        order: 1;
    }

    .students-comments .title2{
        font-size: 1.5625rem;
        text-align: flex-start;
    }


    .student .title3{
        font-size: 1.25rem;
    }

    .student .text2{
        font-size: 1rem;
    }

    .student.text3{
        font-size: .875rem;
    } 
}


@media (max-width:425px){
    .comments .grid-box{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        
    }
    .student{
        display: flex;
        flex-direction: column;
    }

    .student > div{
        display: flex;
        text-align: flex-start;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
    }
    
    .student-list{
        display: flex;
        order:2
    }
    
    .students-comments{
        background-color: var(--color-brand1);
        order: 1;
    }

    .students-comments .title2{
        font-size: 1.5625rem;
        text-align: flex-start;
    }


    .student .title3{
        font-size: 1.25rem;
    }

    .student .text2{
        font-size: 1rem;
    }

    .student.text3{
        font-size: .875rem;
    } 
}