.faq{
    padding: 1.25rem;
}

.faq .flex-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.75rem;
}

.faq .title2, .faq .title3{
    color: var(--color-gray6);
}

.faq .text1{
    color: var(--color-gray4);
}

.faq button{
    padding: 20px 32px;
    background-color: var(--color-brand1);
    color: var(--color-gray7);
}
.faq button:hover{
    background-color: var(--color-brand2);
    transition: 0.4s;
}

.frequent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    position: sticky;
    top: 10rem;
}


.faq ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.faq li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

}

@media(max-width:768px){
    .faq .flex-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.75rem;
    }
    .faq .title2{
        font-size: 1.75rem;
        text-align: center;
    }

    .faq .title3{
        font-size: 1.25rem;
    }

    .faq .text1{
        font-size: 1.115rem;
    }
    .faq button{
        width: 100%;
    }
    .frequent{
        align-items: center;
        text-align: center;
    }
}

@media (max-width:425px){
    .faq{
        padding: 0;
    }

    .faq button{
        width: 100%;
    }

    .faq .flex-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.75rem;
    }

    .faq .title2{
        font-size: 1.5625rem;
        text-align: center;
    }

    .faq .title3{
        font-size: 1.25rem;
    }

    .faq .text1{
        font-size: 1rem;
        text-align: flex-start;
    }
   
}   
