.container{
    width: 100%;
    max-width: 1256px;
    margin: 0 auto;
    padding: 20px;
}

.container .small{
    max-width: 800px;
    
}

.container .xs{
    max-width: 580px;
    width: 100%;
}

.container .xxs{
    max-width: 490px;
    width: 100%;
}