dialog{
    padding: 0;
    margin: 0 auto;
    width: 500px;
    height: 400px;
    border: none;
    margin-top: 6.25rem;
  }

.modal__container{
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
}

dialog::backdrop{
    background-color: rgba(0,0,0,0.7);
}
  

.modal__register{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.modal__container input{
    padding: 1rem;
    width: 100%;
    background-color: var(--color-gray1);
    color: var(--color-gray4);
}

.modal__container .modal__button1{
    background-color: var(--color-brand1);
    color: var(--color-gray7);
    padding: 1rem 2rem;
    width: 100%;
}

.modal__button1:hover{
    background-color: var(--color-brand2);
    transition: 0.4s;
}



.modal__container .title3{
    color: var(--color-gray7);
}

.modal__container .text3{
    color: var(--color-gray4);
}



@media(max-width:768px){
    dialog{
        padding: 0;
        margin: 0 auto;
        width: 425px;
        height: 425px;
        border: none;
        margin-top: 120px;
    }

    .modal__container{
        width: 425px;
        height: 425px;
        display: flex;
        padding: 2.5rem;
        align-items: center;
        justify-content: flex-start;
        gap: 1.4rem;
        
    }

    .modalController .title3{
        margin-top: 1rem;
        font-size: 1.25rem;
    }

    .modalController .text3{
        font-size: .875rem;
    }

    .modalController .text4{
        font-size: .750rem;
    }
}



@media(max-width:425px){
    dialog{
        padding: 0;
        margin: 0 auto;
        width: 425px;
        height: 425px;
        border: none;
        margin-top: 120px;
    }

    .modal__container{
        width: 360px;
        height: 360px;
        display: flex;
        padding: 2.5rem;
        align-items: center;
        justify-content: flex-start;
        gap: 1.4rem;
        
    }

    .modalController .title3{
        margin-top: 1rem;
        font-size: 1.25rem;
    }

    .modalController .text3{
        font-size: .875rem;
    }

    .modalController .text4{
        font-size: .750rem;
    }
}